table{
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    background-color: white;
}
td {
    border: 2px solid slategray;
    padding: 15px;
}

th{
    border: 5px solid rosybrown;
    padding: 15px;
    font-size: 25px;
}
tr:nth-child(even){
    background-color: cornflowerblue;
}

form{
    text-align: center;

}